# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/

# Environments
.env
.env.*
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Node
node_modules/

# Docker
*.log

# Alembic
alembic/versions/__pycache__/
